body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

table {
    margin: 0 auto 2rem auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 2px 5px;
    width: 100px;
}

th:first-of-type {
    width: 200px;
}